{% extends "students/base.html" %}


{% block title%}Внеурочная деятельность{% endblock %}

{% block content%}
        <h1>Внеурочная деятельность</h1>
        <p>Какой-то текст</p>
        {% for el in list_of_activitives%}
            <div class="alert alert-warning">
                <h3>{{el.title }}</h3>
                {% for document in el.text.all %}
                    <li>
                        <a href="{{ document.word.url }}" class="btn btn-warning" target="_blank">{{ document.title }}</a>
                    </li>
                {% endfor %}
            </div>
        {% endfor%}
        
{% endblock %}