{% extends "students/base.html" %}
{% load static %}

{% block title%}Уроки{% endblock %}

{% block content%}
<div class="welcome-part-activities">
    <div id = "left-column-lessons">
        <div id = "main-description-lessons">
            <p id="main-header-lessons">Уроки</p>
            <p id = "main-description-lessons-text">Проверенные методики и творческие разработки, которые помогут сделать ваши внеклассные мероприятия по-настоящему яркими и полезными для учеников</p>
        </div>
        <img id = 'main-photo-lessons' src="{% static 'students/img/mamAnyaTest.png' %}" alt="logo">
    </div>
    
</div> 



        {% for el in list_of_lessons%}
            <div class="post-container">
                <div class="post-header">{{el.title}}</div>
                <div class="post-content">
                    <div class="post-description">
                        <p class="header-content"> <b>Предмет: </b> {{el.subject}}</p>
                        <p class="header-content"> <b>Класс: </b>{{el.class_number}}</p>
                        <p class="header-content"> <b>Программа: </b>{{el.program}}</p>
                        <p class="header-content"> <b>Тема: </b>{{el.topic}}</p>
                        <p class="header-content"> <b>Тип урока: </b>{{el.lesson_type}}</p>
                        <p class="header-content"> <b>Цель: </b>{{el.goal}}</p>
                        <p class="header-content"> <b>Задачи: </b>{{el.tasks}}</p>
                        <p class="header-content"> <b>Оборудование: </b>{{el.equipment}}</p>
                        <p class="header-content"> {{el.content|safe}}</p>
                        <ul class="materials-list">
                            {% for file in el.files.all %}
                                <li><a href="{{ file.file.url }}" target="_blank" rel="noopener noreferrer" class="download-btn">{{ file.get_original_filename }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor%}

        <script>
            // Для плавной работы на мобильных устройствах
            document.querySelectorAll('.post-header').forEach(header => {
                header.addEventListener('click', function() {
                    const content = this.nextElementSibling;
                    content.style.maxHeight = content.style.maxHeight ? null : content.scrollHeight + 'px';
                });
            });
        </script>

{% endblock %}