{% extends "students/base.html" %}
{% load static %}


{% block title%}Внеурочная деятельность{% endblock %}

{% block content%}
    <div class="welcome-part-activities">
        <div id = "left-column-measuring-materials">
            <div id = "main-description-measuring-materials">
                <p id="main-header-measuring-materials">Измерительные материалы</p>
                <p id = "main-description-measuring-materials-text">Личные наработки, методики,
                    рекомендованные психологами, наблюдения для определения
                    уровня формирования ключевых компетентностей у младших школьников</p>
            </div>
            <img id = 'main-photo-measuring-materials' src="{% static 'students/img/mamAnyaTest.png' %}" alt="logo">
        </div>
    </div>
        {% for el in list_of_measuring_materials%}
            <div class="post-container">
                <div class="post-header">{{el.title}}</div>
                <div class="post-content">
                    <div class="post-description">
                        <p>{{el.description}}</p>
                        <ul class="materials-list">
                            {% for document in el.files.all %}
                                <li><a href="{{ document.file.url }}" target="_blank" rel="noopener noreferrer" class="download-btn">{{ document.get_original_filename }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor%}

        <script>
            // Для плавной работы на мобильных устройствах
            document.querySelectorAll('.post-header').forEach(header => {
                header.addEventListener('click', function() {
                    const content = this.nextElementSibling;
                    content.style.maxHeight = content.style.maxHeight ? null : content.scrollHeight + 'px';
                });
            });
        </script>

{% endblock %}