{% extends "students/base.html" %}

{% block title%}Мастерская учителя{% endblock %}

{% block content%}
        <div class="article-body">
                <h1>Мастерская учителя</h1>
                <p>Какой-то текст</p>
                
                <a href="{% url 'activities_outside_of_school' %}" class="btn btn-warning">Внеурочная деятельность</a>
                <a href="{% url 'measuring_materials' %}" class="btn btn-warning">Измерительные материалы</a>
                <a href="#" class="btn btn-warning">Уроки</a>
        </div>
        
       
{% endblock %}