@font-face {
    font-family: 'Murs Gothic';
    src: url('/static/students/font/MursGothic-WideDark.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
@font-face {
    font-family: 'Inter black';
    src: url('/static/students/font/Inter-Black.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
@font-face {
    font-family: 'Inter regular';
    src: url('/static/students/font/Inter-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }

/*меню*/
.navbar {
    background: none !important; /* Убираем фон */
    box-shadow: none !important; /* Убираем тень (если есть) */
    border-bottom: 1px solid #ddd; /* Линия снизу */
    padding-left: 20px; /* Отступ слева */
    padding-right: 20px; /* Отступ справа */
    letter-spacing: 0.5px; /* Опционально: регулировка межбуквенного интервала */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для меню */
}

.navbar-brand {
    font-weight: 700; /* Жирное начертание для ФИО */
    font-size: 1.2rem;
    text-transform: uppercase; /* Все буквы заглавные */
    color: #333 !important; /* Цвет текста */
    font-family: 'Inter black', sans-serif;
}

.nav-link {
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #555 !important;
    margin: 0 10px;
    transition: color 0.3s ease;
    font-family: "Inter regular", sans-serif;
}

.nav-link:hover {
    color: #000 !important; /* Цвет при наведении */
}

#left-column{
  display: flex;
  flex-direction: column;
  gap: 5%;
  flex: 1;

}

/*Фотка*/
.welcome-part {
  display: flex;          /* Включаем flex-расположение */
  flex-direction: row;    /* Элементы в строку */
  align-items: flex-start; /* Выравнивание по верху */
  gap: 5%;             /* Отступ между фото и текстом */
  flex-wrap: wrap;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
}

#main-header{
  font-family: 'Murs Gothic', sans-serif ;
  font-size: 7.5vw;
  flex: 1;
  line-height: 8vw;
  letter-spacing: 0%;
  color: rgb(124, 107, 89);

}

#main-photo {
  max-width: 40%;        /* Можно задать нужный размер (например, 30%) */
  height: auto;          /* Сохраняем пропорции */
  order: 2;             /* Перемещает фото вправо (если нужно) */
  border-radius: 30px;

}

/* Для мобильных: фото под текстом */
@media (max-width: 768px) {
  .welcome-part {
      flex-direction: column;
  }
  .main-photo {
      width: 100%;
      max-width: 100%;
  }
}

#main-description {
    width: 85%;
    min-height: 150px;
    max-height: 250px;
    background: rgba(251, 211, 146, 0.55);
    border-radius: 30px;
    flex: 1;
}
#main-description-text {
  font-family: Arial, sans-serif ;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 2%;
}

/* Базовые стили для выпадающего меню */
.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    z-index: 1000;
  }
  
.dropdown:hover .dropdown-menu {
    display: block;
  }
  
.dropdown-item {
    padding: 10px 15px;
    display: block;
    color: #333;
    font-family: "Inter regular", sans-serif;
  }
  
.dropdown-item:hover {
    background: #f8f9fa;
  }
  
.dropdown-divider {
    border-top: 1px solid #eee;
    margin: 5px 0;
  }

/*Блоки для раскрытия измеретильных материалов на неведению мыши*/
.post-container {
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Inter regular', sans-serif;
}

.post-header {
  background-color: rgba(193, 200, 41, 0.47);;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 1.3rem;
  font-weight: bold;
}

.post-header:hover {
  background-color: #aeb359;
}

.post-content {
  max-height: 0;
  overflow: hidden;
  background-color: #f5f7fa;
  transition: max-height 0.3s ease;
  border-radius: 0 0 5px 5px;
}

/* Раскрытие при наведении на контейнер */
/*.post-container:hover .post-content {
  max-height: 300px; 
}*/

.post-description{
  padding: 15px;
  line-height: 1.6;
}

#paragraph {
  padding: 15px;
  line-height: 1.6;
}

#header-content{
  padding: 15px;
  /*font-weight: 700; */
  font-size: 1rem;

}

.download-btn {
  display: inline-block;
  background-color: #37bc9b;
  color: white;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #2e9e8a;
}
