{% extends "students/base.html" %}
{% load static %}

{% block title%}Главная страница{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <div class="logo-wrapper">
      <img src="{% static 'students/img/face.jpg' %}" width="500" height="500" alt="logo">
    </div>
    <div class="decoration">
        <p>Здравствуйте, уважаемые посетители моей странички!
            Мне очень приятно видеть Вас здесь!
            Этот ресурс может быть полезен учителям, родителям учащихся начальной школы, моим ученикам.  Здесь Вы найдёте разработки уроков, внеклассных мероприятий, презентации,   тематическое планирование и т.д. В общем, частичку того, чего порой нам, учителям, так не хватает для работы, профессиональных советов для родителей, добрых пожеланий для детей. 
            Буду рада, если  мои материалы Вам пригодятся, очень рассчитываю на взаимное сотрудничество. 
            Всего Вам доброго!
            Светлана Прилуцкая
        </p>
    </div>
{% endblock %}