{% extends "students/base.html" %}
{% load static %}

{% block title%}Памятки{% endblock %}

{% block content%}
<div class="welcome-part-activities">
    <div id = "left-column-memo">
        <div id = "main-description-memo">
            <p id="main-header-memo">Советы и рекомендации</p>
            <p id = "main-description-memo-text">Текст</p>
        </div>
        <img id = 'main-photo-memo' src="{% static 'students/img/mamAnyaTest.png' %}" alt="logo">
    </div>
    
</div> 
    
        {% for el in list_of_memos%}
            <div class="post-container">
                <div class="post-header">{{el.title}}</div>
                <div class="post-content">
                    <div class="post-description">
                        <p class="header-content"> {{el.content|safe}}</p>
                    </div>
                </div>
            </div>
        {% endfor%}
        <script>
            // Для плавной работы на мобильных устройствах
            document.querySelectorAll('.post-header').forEach(header => {
                header.addEventListener('click', function() {
                    const content = this.nextElementSibling;
                    content.style.maxHeight = content.style.maxHeight ? null : content.scrollHeight + 'px';
                });
            });
        </script>
{% endblock %}