{% extends "students/base.html" %}

{% block title%}Для вас, ребята!{% endblock %}

{% block content%}
        <h1>Для вас, ребята!</h1>
        <p>Дорогие ребята!
            Пусть жизнь будет удивительной сказкой, в которой побеждает только добро, а злодеи будут только нарисованными. Пусть самые страшные ошибки будут лишь в тетрадках, а в жизни вам помощниками будут знания, терпение и труд!
            
            Эта страничка для вас! Она содержит интересную и полезную информацию.
            </p>
        
        <a href="{% url 'memo' %}" class="btn btn-warning">Памятки</a>
        <a href="{% url 'recommendation' %}" class="btn btn-warning">Советы и рекомендации</a>
        

{% endblock %}